Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @adrioro Sign out
0
0 0 adrioro/Cake
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
Cake/style.css
29d06a0  on Jan 3
@adrioro adrioro Eighth commit

110 lines (105 sloc)  1.96 KB
.logo{
  margin-right: 24px;
}
.my_bar, .bar_div{
  padding-top: 9px;
}
.order{
  margin: 16px;
}
.order-button{
  background-color: #e3f2fd;
}
.slides_container{
  padding-top: 13px;
  padding-bottom: 13px;
}
.title {
  font-size: 56px;
  margin-top: 34px;
  color: #303952;
  font-family: Nunito Sans;
}
.subtitle{
  font-weight: extra-light;
  font-size: 24px;
  font-family: Nunito Sans;
}
.section_row{
  margin-top: 65px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e3f2fd;
}
.style2{
	background-color: #dfe6e9;
  padding-bottom: 36px;
}
.my_footer{
  background-color: #dfe6e9;
  color: #303952;
  margin-left: 21px;
  margin-right: 21px;
}
.footer_link, .footer_text{
  color: #A6A6A6;
}
.style3{
  padding-top: 45px;
  padding-bottom: 36px;
  background-color: #77AACE;
}

/* Social Media */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.
